[user]
	name = Zohny, Zeyad [PS]
	email = zeyad.zohny@cengage.com

[core]
	editor = nvim
	longpaths = true
    excludesfile = ~/.config/git/.gitignore

[status]
    branch = true
    showStash = true
    ; showUntrackedFiles = all

[init]
	defaultbranch = main

[credential]
	credentialstore = gpg
	helper =
	helper = /usr/local/bin/git-credential-manager

[credential "https://stash.cengage.com"]
	provider = bitbucket

[credential "https://github.com"]
	username = ZohnyZeyad

[credential "https://dev.azure.com"]
	useHttpPath = true

[push]
	autoSetupRemote = true
    default = current
    followTags = true

[pull]
    rebase = true
    default = current

[rebase]
    autoStash = true
    missingCommitsCheck = warn

[merge]
    conflictstyle = diff3

[interactive]
    diffFilter = diff-so-fancy --patch
    singleKey = true

[diff]
    context = 3
    renames = copies
    interHunkContext = 10

[log]
    abbrevCommit = true
    graphColors = blue,yellow,cyan,magenta,green,red

[pager]
	diff = diff-so-fancy | less --tabs=4 -RF

[diff-so-fancy]
    markEmptyLines = false
    stripLeadingSymbols = false

[rerere]
	enabled = true

[grep]
    lineNumber = true
    patternType = perl

[branch]
    sort = -committerdate

[tag]
    sort = -taggerdate

[alias]
	fp = !git fetch && git pull
    lol = log --oneline --pretty=format:'%C(magenta)%h %C(white) %an  %ar%C(auto)  %D%n%s%n'
    graph = log --graph --pretty=format:'%C(magenta)%h %C(white) %an  %ar%C(auto)  %D%n%s%n'
    graph-all = log --all --graph --pretty=format:'%C(magenta)%h %C(white) %an  %ar%C(auto)  %D%n%s%n'
    graph-stat= log --stat --graph --pretty=format:'%C(magenta)%h %C(white) %an  %ar%C(auto)  %D%n%s%n'
    word-diff = diff --word-diff
    blame-all = blame -C -C -C
    rl = reflog --date=iso
    rll = reflog --pretty --date=iso

[url "https://github.com/"]
    insteadOf = "gh:"

[url "https://github.com/ZohnyZeyad/"]
    insteadOf = "zz:"

[url "https://zzohny45368@stash.cengage.com/scm/"]
    insteadOf = "stash:"

[color]
    ui = true

[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22

[color "diff"]
    meta = 11
    frag = magenta bold
    context = white
    old = red
    new = green
    whitespace = yellow reverse

[color "decorate"]
    HEAD = red
    branch = blue
    tag = yellow
    remoteBranch = magenta

[color "branch"]
    current = magenta
	remote = yellow
	upstream = green
    plain = blue
