.zsh_secrets

.config/nvim/codecompanion_adapter_debug.txt
.config/nvim/gemini.planning.avanterules
.config/nvim/lazy-lock.json
.config/nvim/repro.lua

.config/mcphub
!.config/mcphub/servers.json

.config/zed/conversations
.config/zed/prompts

.openvpn3/nxvpn-login.file

.m2/repository/
.m2/wrapper/

.mcp/

bitbucket.log
