" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

""" Basic Settings ----------------------------

" --- General UI ------------------------------
set mouse=a              " Enable mouse support
set scrolloff=8          " Minimal lines to keep above/below cursor
set sidescrolloff=5      " Minimal columns to keep left/right of cursor
set numberwidth=4        " Number column width
set number               " Show line numbers
set relativenumber       " Show relative line numbers
set splitright           " Split vertical window to the right
set splitbelow           " Split horizontal window to the bottom
set showcmd              " Show incomplete commands
set showmode             " Show current mode
set nocursorline         " Disable cursor line highlighting
set visualbell           " Use visual bell instead of audible bell
" set noerrorbells       " Disable error bells
" set trackactionids     " Enable action ID tracking (for debugging IdeaVim)

" --- Clipboard -----------------------------
" set clipboard+=unnamed   " Use system clipboard for unnamed register
" set clipboard+=ideaput   " Use IntelliJ clipboard
" set virtualedit=onemore  " Allow cursor past last character in line

" --- File Settings -------------------------
set nowrap               " No line wrapping
set expandtab            " Use spaces instead of tabs
set wildmenu             " Enable wild menu for tab completion

" --- Undo/Backup ---------------------------
set history=1000         " Number of history lines to remember
set undolevels=1000      " Number of undo levels
set undofile             " Enable persistent undo
set undodir=~/.idea/.undo,~/tmp,/tmp " Undo file directory
set nobackup             " Disable backup files
set noswapfile           " Disable swap files
set directory=~/.idea/.tmp,~/tmp,/tmp " Temporary files directory

" --- Shell ---------------------------------
set shell=/usr/bin/zsh   " Set shell to zsh
set nrformats-=octal     " Disable octal number recognition

""" Plugins  --------------------------------
set nerdtree
set commentary
set surround
set highlightedyank
set multiple-cursors
" set ReplaceWithRegister
set argtextobj
set functiontextobj

" Search settings
set ignorecase
set smartcase
set incsearch
set nohlsearch

""" Idea specific settings ------------------
set ideajoin
set ideamarks
set ideastrictmode
set ideastatusicon=gray
set idearefactormode=keep
nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

" No line wrapping
set nowrap

" Fast update time
set updatetime=50

" Manual fold method
set foldmethod=manual
set nofoldenable
set nocompatible
syntax enable
syntax on
set wildmenu
set nowrap
set expandtab

""" My Mappings -----------------------------

" Leader key is space " "
let mapleader = " "

" --- General Mappings ----------------------
" Don't use Ex mode, use Q for formatting.
map Q gq
" Toggle Zen mode
nnoremap <leader>zen :action ToggleDistractionFreeMode<CR>
" Uppercase word under cursor
nnoremap <leader>up viwUe
" Edit ideavimrc
nnoremap <leader>e :e ~/.ideavimrc<CR>
" Reload ideavimrc
nnoremap <leader>r :action IdeaVim.ReloadVimRc.reload<CR>
" Close all editors
nnoremap <leader>xa :action CloseAllEditors<CR>
" Close other editors
nnoremap <leader>xo :action CloseAllEditorsButActive<CR>

" --- Navigation Mappings -------------------
" Keep cursor in view when moving down
nmap n nzzzv
" Keep cursor in view when moving up
nmap N Nzzzv
" Keep cursor in view when page down (alternative)
" nmap <C-d> <C-d>zz
" Keep cursor in view when page up (alternative)
" nmap <C-u> <C-u>zz
" Go back in navigation history
nmap <C-o> :action Back<CR>
" Go forward in navigation history
nmap <C-i> :action Forward<CR>
" Go to beginning of line
nnoremap H _
" Go to end of line
nnoremap L $

" --- Tab Navigation ------------------------
nmap <c-h> :action PreviousTab<CR>
nmap <c-l> :action NextTab<CR>
nnoremap gn :action NextTab<CR>
nnoremap gp :action PreviousTab<CR>
nmap <leader>1 :action GoToTab1<CR>
nmap <leader>2 :action GoToTab2<CR>
nmap <leader>3 :action GoToTab3<CR>
nmap <leader>4 :action GoToTab4<CR>
nmap <leader>5 :action GoToTab5<CR>
nmap <leader>6 :action GoToTab6<CR>
nmap <leader>7 :action GoToTab7<CR>
nmap <leader>8 :action GoToTab8<CR>
nmap <leader>9 :action GoToTab9<CR>

" --- Window Navigation ---------------------
nmap <A-h> <C-w>h
nmap <A-l> <C-w>l
nmap <A-j> <C-w>j
nmap <A-k> <C-w>k

" --- Window Management -------------------
map <c-=> :action UnsplitAll<CR>
map <c-w>m :action MaximizeEditorInSplit<CR>
map <a-=> :action StretchSplitToTop<CR>
map <a--> :action StretchSplitToBottom<CR>
map <a-,> :action StretchSplitToLeft<CR>
map <a-.> :action StretchSplitToRight<CR>

" --- Copy and Paste ------------------------
nmap <leader>y "+y
vmap <leader>y "+y
nmap <leader>Y "+Y
nmap <leader>p "+p
nmap <leader>P "+P
vmap <leader>p "+p
vmap <leader>P "+P
nnoremap Y y$

" --- Delete --------------------------------
nmap <leader>d "_d
vmap <leader>d "_d

" --- Select --------------------------------
nmap == gg<S-v>G

" --- Insert --------------------------------
nmap <Enter> o<Esc>
nmap <S-Enter> O<Esc>

" --- Input Mode ----------------------------
imap <C-c> <Esc>
nmap <C-z> <C-r>

" --- Visual Mode ---------------------------
xmap J :action MoveLineDown<CR>
xmap K :action MoveLineUp<CR>
xnoremap < <gv
xnoremap > >gv
vnoremap <leader>s :action Replace<CR>

" --- Search --------------------------------
nnoremap <leader>pc :action GotoClass<CR>
nnoremap <leader>pf :action GotoFile<CR>
nnoremap <leader>fg :action SearchEverywhere<CR>

" --- File Navigation -----------------------
map <leader>nt :NERDTreeToggle<CR>
map <leader>pv :action SelectInProjectView<CR>

" --- Code Navigation -----------------------
map [m :action MethodUp<CR>
map ]m :action MethodDown<CR>

" --- IDE Specific Actions ------------------
nmap <leader>rt :action Refactorings.QuickListPopupAction<CR>
nmap <leader>rn :action RenameElement<CR>
nmap <leader>ff :action ReformatCode<CR>
nmap <leader>oi :action OptimizeImports<CR>
nmap <leader>tt :action ActivateTerminalToolWindow<CR>
nmap <leader>gs :action ActivateCommitToolWindow<CR>
nmap <leader>hw :action HideAllWindows<CR>
nmap <leader>cl :action GotoAction<CR>
nmap <leader>sd :action SafeDelete<CR>
nmap <leader>gen :action Generate<CR>

" --- Run/Debug Mappings --------------------
nnoremap <leader>cr :action ChooseRunConfiguration<CR>
nnoremap <leader>cd :action ChooseDebugConfiguration<CR>
noremap <leader>rf :action Run<CR>
noremap <leader>rr :action Rerun<CR>
noremap <leader>rt :action RunTests<CR>
noremap <leader>rft :action RunFailedTests<CR>
noremap <leader>dd :action Debug<CR>
noremap <leader>sp :action Stop<CR>
map <leader>b :action ToggleLineBreakpoint<CR>

" --- Errors and Diagnostics ----------------
nmap <C-k> :action GotoNextError<CR>
nmap <C-j> :action GotoPreviousError<CR>
nmap ]d :action GotoNextError<CR>
nmap [d :action GotoPreviousError<CR>

" --- LSP Navigation ------------------------
nnoremap K :action ShowHoverInfo<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gD :action QuickTypeDefinition<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gI :action QuickImplementations<CR>
nnoremap gu :action ShowUsages<CR>
nnoremap gs :action GotoSuperMethod<CR>
nnoremap gch :action CallHierarchy<CR>
nnoremap gmh :action MethodHierarchy<CR>
nnoremap gth :action TypeHierarchy<CR>
nnoremap <leader>gt :action GotoTest<CR>
nnoremap <leader>sn :action ShowNavBar<CR>

" --- Plugin Mappings -----------------------

noremap <leader>sw :action SurroundWith<CR>

" --- Debug Mappings ------------------------
nmap <leader>j :action StepOver<CR>
nmap <leader>k :action Resume<CR>
nmap <leader>h :action StepOut<CR>
nmap <leader>l :action ForceStepInto<CR>
noremap <leader>hs :action Hotswap<CR>

" --- Information Mappings ------------------
noremap <leader>uml :action ShowUmlDiagram<CR>

" --- Windows Tool Windows ------------------
noremap <leader>mvn  :action ActivateMavenToolWindow<CR>

""" Plugin Settings -------------------------

" --- argtextobj plugin ---------------------
" Define argument text object pairs
let g:argtextobj_pairs="[:],(:),<:>"

" --- highlightedyank plugin ----------------
let g:highlightedyank_highlight_duration = "50"

" --- Vim Multiple Cursors plugin -----------
nmap <C-n> <Plug>NextWholeOccurrence
xmap <C-n> <Plug>NextWholeOccurrence
nmap g<C-n> <Plug>NextOccurrence
xmap g<C-n> <Plug>NextOccurrence
xmap <C-x> <Plug>SkipOccurrence
xmap <C-p> <Plug>RemoveOccurrence

nmap <leader><C-n> <Plug>AllWholeOccurrences
xmap <leader><C-n> <Plug>AllWholeOccurrences
nmap <leader>g<C-n> <Plug>AllOccurrences
xmap <leader>g<C-n> <Plug>AllOccurrences

